<!--
Edit the lines below and place them into the "server" section 
of your ocsigen.conf file.
-->
    <extension findlib-package="ocsigen_ext.staticmod"/>
    <extension findlib-package="ocsigen_ext.ocsipersist-sqlite">
      <!-- If you want to specify the SQLITE database file yourself:
      <database file="/home/balat/ocsigen/var/lib/ocsidb"/>
      -->
    </extension>

    <extension findlib-package="ocsigen_ext.eliom"/>
    <extension findlib-package="ocsigen_ext.eliom_duce"/>
    <extension findlib-package="pgocaml"/>
    <extension module="/path-to/ocsimore.cma"/>

    <host>
      <module file="/path_to/example.cmo" />
      <static dir="/path_to/ocsimore/static" />    
    </host>
