<!-- Example of ocsigen.conf. Adapt it to your configuration -->

<ocsigen>

  <server>

    <port>8080</port>              <!-- The port for the server -->
    <logdir>/home/balat/ocsimore/var/log</logdir>
    <datadir>/home/balat/ocsimore/var/lib</datadir>
    <user>balat</user>
    <group>permanents-2g</group>
    <charset>utf-8</charset>
    <commandpipe>/tmp/cpipe</commandpipe>

    <debugmode/>

    <findlib path="/usr/local/lib/ocsigen/METAS"/>

    <extension findlib-package="ocsigen_ext.staticmod"/>
    <extension findlib-package="ocsigen_ext.ocsipersist-sqlite">
      <!-- If you want to specify the SQLITE database file yourself:
      <database file="/home/balat/ocsigen/var/lib/ocsidb"/>
      -->
    </extension>

    <extension findlib-package="ocsigen_ext.eliom"/>
    <extension findlib-package="ocsigen_ext.eliom_duce"/>
    <extension findlib-package="ocsigen_ext.accesscontrol"/>
    <extension findlib-package="pgocaml"/>
    <extension findlib-package="pam"/>
    <extension module="/path-to/ocsimore.cma"/>

    <host>
      <static dir="/path_to/ocsimore/static" />
      <eliom module="/home/balat/kroko/ocsimore/ocsisite.cmo">
        <!-- optional arguments: -->

        <notsecure/> <!-- accept login with http or https (DANGEROUS!)
                          If you do not want that option, 
                          you need to configure HTTPS. -->

<!-- PAM authentication
        <pam service="sshd" /> <!-- For service names, see /etc/pam.d -->
-->

        <basicusercreation registration_mail_from="Ocsimore" registration_mail_addr="ocsimore@somewhere.nowhere.com" registration_mail_subject="Ocsimore registration" groups="users"/>

      </eliom>

      <eliom module="/path_to/ocsiwiki.cmo">
        <name>My wiki</name>
        <path>/</path>
        
        <!-- The following options have effect only the first time,
        when creating the wiki.
        (And they may be removed in the future)
         -->
        <readers>anonymous</readers>
        <writers>users</writers>
        <rightsadm>admin</rightsadm>
        <wikiboxescreators>users</wikiboxescreators>
        <containeradm>admin</containeradm>
        <pagecreators>users</pagecreators>
        <csseditors>users</csseditors>
        <admins>admin</admins>
        <boxrights/>
      </eliom>

    <!-- It is possible to define several wikis with several
    <eliom module="...ocsiwiki"> 
    -->

    </host>

<!-- It is possible to define new groups from the config file:

    <extension module="/home/balat/kroko/ocsimore/ocsimore.cma">
      <group name="intranet">
        <!-- Use one condition with accesscontrol's syntax: -->
        <or>
          <ip value="134.157.168.0/25" />
          <ip value="192.168.0.0/24" />
          <ip value="2001:660:3301:8061::/64" />
        </or>
      </group>
    </extension>

-->



  </server>

</ocsigen>
