/**********************************************/
/* Part of the css related to wikiboxes menus */

.btmenu {
    text-decoration: underline;
    cursor: pointer;
}

span.show_menus_label {
  display: none;
}
span.hide_menus_label {
  display: inline;
}

body.nomenu span.show_menus_label {
  display: inline;
}
body.nomenu span.hide_menus_label {
  display: none;
}

/* Menu in linear mode */

div.wikiboxlinearmenu {
    overflow: auto;
    font-size: 70%;
    display:inline;
}

div.wikiboxlinearmenu ul.wikiboxmenu {
    display: inline;
}

div.wikiboxlinearmenu ul.wikiboxmenu li {
    display:inline;
}


div.wikiboxlinearmenu div.wikiboxmenutitle{
    display:inline;
}


/* Menu with pencils */

div.interactive{
    position: relative;
}

div.interactive:hover {
    outline: 1px solid #eeeeee;
}

img.pencilmenuimg {
  display: none;
}

div.interactive:hover>div.pencilmenucontainer>img.pencilmenuimg {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

div.pencilmenucontainer {
  overflow: visible;
}

div.pencilmenucontainer div.pencilmenu {
  display: none;
  overflow: visible;
}

div.pencilmenucontainer:hover div.pencilmenu {
  border: 1px solid #7777ee;
  display: block;
  position: absolute;
  top: -10px;
  right: 0px;
  z-index: 20;
  background-color: white;
  overflow: visible;
}

div.pencilmenu ul.wikiboxmenu a {
    display: block;
}


/* When body does have class "nomenu", we hide all menu structures */

body.nomenu div.wikiboxlinearmenu, body.nomenu div.pencilmenucontainer {
    display:none;
}

body.nomenu div.interactive:hover {
    outline: none;
}


/* Generic code, for both kinds of menus */

div.wikiboxmenutitle{
    text-align: left;
    margin: 0px 0px 0px 2px;
    padding: 0px 4px 0px 4px;
    font-size: 80%;
    background-color: white;
}

ul.wikiboxmenu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul.wikiboxmenu li{
    margin: 2px;
    padding: 0px;
    font-weight: bold;
    vertical-align: bottom;
    color: #999999;
}

ul.wikiboxmenu li.eliomtools_current{
    padding: 0px 6px;
    color: white;
    background-color: #DDD;
}

ul.wikiboxmenu a{
    color: #999999;
    background-color: #f1f1f1;
    padding: 0px 6px;
    text-decoration: none;
  cursor: pointer;
}

ul.wikiboxmenu a:hover{
    background-color: #dddddd;
    text-decoration: none;
}

ul.wikiboxmenu a:active{
    background-color: #ffffff;
    text-decoration: none;
}


/*************************/
/** Remainder of the css */

.jslink {
    cursor: pointer;
}

div.preview{
    border: 1px solid #ff8888;
    background-image: url(preview.png);
}

.ocsimore_button,div.ocsimore_button>p {
    margin: 0px;
    padding: 0px;
    display: inline;
}

textarea{
  width: 100%;
}

.editform textarea{
  width: 68%;
}

div.wikihelp {
  float: right;
  width: 30%;
  background-color: white;
}

span.underlined {
  text-decoration: underline;
}

span.linethrough {
  text-decoration: line-through;
}

div.deletewidget {
    position:fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    padding: 50px;
    margin: 50px;
    width: 300px;
    opacity: 0.8;
    background-color: red;
}

input.wikitextarea {
  width: 100%;
}


/******************************************/
/* Default style for overridden wikiboxes */

.overridden .boxcontent{
    background-color: white;
    color: black;
    padding: 20px;
}





ul.user_list {
  list-style-type: none;
}

table.table_admin {
  border-spacing: 5px 2px;
}

table.table_admin td.current_users {
    padding: 3px 10px 15px;
}

.table_admin {
    width: auto;
}

table.table_admin td {
  border-bottom: 1px solid #E0E9FB;
}

table.table_admin th {
  background-color: #E0E9FB;
  padding: 5px;
}

.logbox {
  float: right;
  outline: 1px solid #eeeeee;
}
.logbox .logout {
  display: inline;
}

.backref {
  display: none;
}

h1:hover .backref, h2:hover .backref, h3:hover .backref, h4:hover .backref, h5:hover .backref, h6:hover .backref {
  display: inline;
  text-decoration: none;
  color: #bbb;
}
