.wikibox{
}

.editform,
.editable,
.history{
    border: 1px solid #eeeeee;
    padding: 0px;
}

.editable div,
.editform div,
.history div{
    margin: 4px;
}

p.boxbutton{
    text-align: left;
    margin: 0px;
    padding: 0px 0px 0px 4px;
    font-size: 80%;
}

p.boxbutton a,span{
    display: inline-block;
    color: #999999;
    margin: 2px;
    padding: 0px 6px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: bottom;
    float: right;
}

p.boxbutton a{
    background-color: #f1f1f1;
}

p.boxbutton a:hover{
    background-color: #dddddd;
    text-decoration: none;
}

p.boxbutton a:active{
    background-color: #ffffff;
    text-decoration: none;
}

p.boxbutton button:hover{
    background-color: #dddddd;
}

p.boxbutton button:active{
    background-color: #ffffff;
}
