.wikibox{
}

.editform{
    border: 1px solid #aaaaaa;
    padding: 4px;
}

.editable{
    border: 1px solid #cccccc;
    padding: 0px;
}

p.editlink{
    text-align: right;
    background-color: #eeeeee;
    margin: 0px;
    padding: 0px 4px;
    font-size: 80%;
}

p.editlink a{
    color: #aaaaaa;
}