/* Admin menu and pages */

h1, h2, h3, h4 {
  color: #3860AA;
}

* {
  color: #18408A;
}

#admin_menu a {
  text-decoration: none;
}


#admin_menu a, #admin_menu a:visited {
  color: #3860AA;
}

#admin_menu > li.eliomtools_current > a *,
#admin_menu li.eliomtools_current > a {
    color:#A00;
}


#admin_menu > li > ul {
    padding:10px 8px 5px;
}

span.admin-menu-root {
    margin-bottom: 20px;
}

#admin_menu > li {
  display: block;
  float: left;
  margin: 0 5px 20px 5px;
  padding: 10px;
  background-color: #D0D9EB;
  color: #3860AA;
  font-weight: bold;
  width: 100%;
}

#admin_menu > li > ul > li {
    list-style: none;
    font-size: 80%;
    padding: 3px 0;
}


#admin_menu {
    margin-top: 0;
    padding: 0;
    position: fixed;
    width: 190px;
    margin:0;
}

#admin_body {
    margin-left: 240px;
    height: 80%;
    margin-bottom: 45px;
}


.errmsg {
    color: red;
    font-weight: bold;
}


table.table_admin {
  border-spacing: 5px 2px;
}

body.admin table td {
    vertical-align: top;
}

body.admin table td p, body.admin table td ul {
    margin: 0;
}


table.table_admin td.wikiid, table.table_admin td.wikiname, table.table_admin td.wikidescr, table.table_admin td.userid, table.table_admin td.userlogin, table.table_admin td.userdescr {
  padding: 3px 10px;
}

table.table_admin td.current_users {
    padding: 3px 10px 15px;
}

table.table_admin td {
  border-bottom: 1px solid #E0E9FB;
}

table.table_admin th {
  background-color: #E0E9FB;
  padding: 5px;
}

table.table_admin td.current_users {
    text-align:right;
}

table.table_admin td.wikiname {
    max-width: 30em;
}

table.table_admin td.wikiid, table.table_admin td.userid{
    text-align: center;
}

table.table_admin img {
    width: 16px;
    height: 16px;
    border: none;
}

body.admin {
    font-family: Verdana,sans-serif;
}

body.admin h1 {
  background-color: #3860AA;
  color: white;
  padding: .5em;
  margin-left: -10px;
  margin-bottom: 1.5em
}

#admin_status {
  font-size: 80%;
  border-top: 1px solid  #3860AA;
  position:fixed;
  bottom:0;
  padding: 5px 15px;
  width:100%;
  background-color: white;
  z-index: 99;
}

#admin_status form.logoutbutton, #admin_status form.logoutbutton div, #admin_status form.logoutbutton p {
  display:inline;
}

ul.user_list {
  list-style-type: none;
}

div.user_block {
    margin-top: 35px;
}

#admin_status .login_box tr, #admin_status .login_box td {
    display: inline;
    margin-left: 2px;
}

#admin_status .login_box td {
    padding: 0;
}
