.wikibox{
}

div.editform,
div.editable,
div.history{
    border: 1px solid #eeeeee;
    padding: 0px;
}

div.editform,
div.history{
    background-color: white;
    overflow: auto;
}

.editable div,
.editform div,
.history div{
    margin: 4px;
}

p.boxtitle{
    text-align: left;
    margin: 0px;
    padding: 0px 0px 0px 4px;
    font-size: 80%;
    height: 2em;
    background-color: white;
}

ul.boxbutton{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.boxbutton li{
    display: inline-block;
    margin: 2px;
    padding: 0px;
    font-weight: bold;
    vertical-align: bottom;
    float: right;
    color: #999999;
}

.boxbutton li.eliomtools_current{
    padding: 0px 6px;
}

.boxbutton a{
    color: #999999;
    background-color: #f1f1f1;
    padding: 0px 6px;
    text-decoration: none;
}

.boxbutton a:hover{
    background-color: #dddddd;
    text-decoration: none;
}

.boxbutton a:active{
    background-color: #ffffff;
    text-decoration: none;
}

div.preview{
    border: 1px solid #ff8888;
    background-image: url(preview.png);
}

.ocsimore_button,div.ocsimore_button>p {
    margin: 0px;
    padding: 0px;
    display: inline;
}

textarea{
  width: 100%;
}

.editform textarea{
  width: 68%;
}

div.wikihelp {
  float: right;
  width: 30%;
  background-color: white;
}

